    /*
    Flaticon icon font: Flaticon
    Creation date: 16/11/2019 17:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./fonts/Flaticon.eot");
  src: url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff2") format("woff2"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-boligrafo:before { content: "\f100"; }
.flaticon-marcador:before { content: "\f101"; }
.flaticon-portafolio:before { content: "\f102"; }
.flaticon-nota:before { content: "\f103"; }
.flaticon-charla:before { content: "\f104"; }
    
    $font-Flaticon-boligrafo: "\f100";
    $font-Flaticon-marcador: "\f101";
    $font-Flaticon-portafolio: "\f102";
    $font-Flaticon-nota: "\f103";
    $font-Flaticon-charla: "\f104";


-----------------------------------------------
      /*
    Flaticon icon font: Flaticon
    Creation date: 24/09/2019 10:38
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-straight-quotes:before { content: "\f100"; }
.flaticon-electrocardiogram:before { content: "\f101"; }
.flaticon-emergency-call:before { content: "\f102"; }
.flaticon-first-aid-kit:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }